<body class="homeBodyBackground">
<div class="container">
  <app-header></app-header>
  <div class="row small-margin-top">
    <div class="col-sm-6 ">
      <h2>Stats, Briefly</h2>
      <p class="textBackground">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse praesentium
        fugit,perferendis, aliquam sapiente vel maiores optio consequatur commodi ratione natus aliquid rerum ducimus!
        Consectetur, ducimus! Asperiores fugit facilis
        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse praesentium fugit, perferendis, aliquam
        sapiente vel maiores optio consequatur commodi ratione natus aliquid rerum ducimus! Consectetur, ducimus!
        Asperiores fugit
        facilis magni! magni!
      </p>
    </div>
    <div class="col-sm-6">
      <img src="assets/img/Bar_Of_Pie_Chart.png" alt="PieChart" class="imgChart top-right-marginCol2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h2 class="small-margin-top">RSS Feed</h2>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row tiny-margin-top">
    <div class="col-sm-6 ">
      <p class="textBackground">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse praesentium fugit,
        perferendis, aliquam sapiente vel maiores optio consequatur commodi ratione natus aliquid rerum ducimus!
        Consectetur, ducimus! Asperiores fugit facilis
        magni!a
        <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse praesentium fugit, perferendis, aliquam
        sapiente vel maiores optio consequatur commodi ratione natus aliquid rerum ducimus! Consectetur, ducimus!
        Asperiores fugit
        facilis magni!
      </p>
    </div>
    <div class="col-sm-6 text-center">
      <figure>
        <img src="assets/img/inspirational.jpg" alt="inspirational" class="imgInsp">
        <figcaption class="caption large-left-right-xs-top">"Dare to jump where others have jumped too"</figcaption>
      </figure>
    </div>
  </div>
</div>
</body>
