<body class="feedsBodyBackground">
<div class="container">
  <app-header></app-header>
  <div class="row">
    <div *ngIf="posts.length === 0" class="col-6">
      &nbsp;
    </div>
    <div *ngIf="posts.length > 0 " class="col-6">
      <h2 class="with-color"> {{posts[0].title}}</h2>
      <h4> {{posts[0].createdAt | date :'M/d/yy'}} </h4>
      <p>{{posts[0].content}}</p>
    </div>
    <div class="col-6">
      <div class="row med-left-margin med-top-margin">
        <button type="button" class="btn btn-primary btn-lg btn-block" id="add-post-button" (click)="openModal()">Add A
          Post
        </button>
      </div>
      <div class="row med-left-margin med-top-margin">
        <fieldset>
          <legend>History</legend>
          <ul>
            <li *ngFor="let post of posts"> {{post.title}}</li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngIf="posts.length === 0" class="col-12">
      &nbsp;
    </div>
    <div *ngFor="let post of posts | slice:1" class="col-12">
      <h2 class="with-color">{{post.title}}</h2>
      <h4> {{posts[0].createdAt | date :'M/d/yy'}} </h4>
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
</body>
