<body class="feedsBodyBackground">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-6 tiny-margin-top ">
        <h2>Most Recent Post</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, beatae cumque. Neque iusto, sint explicabo voluptatem beatae officiis consequuntur blanditiis eligendi itaque molestias nihil expedita rerum cumque. Dignissimos natus
          pariatur perspiciatis adipisci facere sapiente sunt fugit incidunt, deserunt illum neque ratione eligendi totam vitae ea veritatis sed cupiditate iusto. Enim quia tempore laborum suscipit, asperiores molestiae officia velit
          vero omnis, facere corporis magni expedita fugiat cupiditate deleniti fuga sunt aliquid culpa voluptas qui. Doloribus aperiam beatae fugiat repellendus aut aspernatur ad, sequi quis pariatur ipsum amet nihil eos optio totam
          enim incidunt illum et mollitia natus vero. Nesciunt ipsam quos, totam ab alias molestiae aliquam, obcaecati repellendus voluptas amet animi rerum voluptatem, aliquid dolores numquam quam vel. Similique adipisci necessitatibus
          ducimus. Sequi dolore tempore facere vitae minus? Ducimus corporis maxime veniam et laboriosam nisi ullam, magnam consequatur consectetur, cupiditate quia perferendis officia. Velit eius placeat provident ipsa quo vero dicta.</p>
      </div>
      <div class="col-6">
        <div class="row med-left-margin med-top-margin">
          <button type="button" class="btn btn-primary btn-lg btn-block" id="add-post-button" (click)="openModal()">Add A Post</button>
        </div>
        <div class="row med-left-margin med-top-margin">
          <fieldset>
            <legend>Posts By Date</legend>
            <ul>
              <li>Item 1</li>
              <li>Item 2</li>
              <li>Item 3</li>
              <li>Item 4</li>
              <li>Item 5</li>
            </ul>
          </fieldset>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row tiny-margin-top">
        <h2>Older Post</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eveniet. Velit molestias tenetur veniam nostrum cupiditate, est nihil ipsa. Nisi in, maxime fuga perferendis quos assumenda tempore ipsa eos molestias nobis ea
          facilis rerum quidem voluptate? Quibusdam porro eaque officia blanditiis nulla quisquam et sunt, alias pariatur culpa, quia placeat eum quasi aperiam optio libero iure? Autem maxime quibusdam doloremque beatae blanditiis, nemo
          temporibus inventore ratione repellendus culpa ad dolores repellat ducimus nulla ex nam. Eveniet ullam ut maiores aliquam recusandae laudantium labore eaque, voluptas at reiciendis consectetur modi voluptatibus omnis atque
          saepe! Perferendis deserunt commodi impedit saepe consequuntur nesciunt natus temporibus eveniet quos, numquam ex id nam inventore sit? Velit beatae iste dolores earum inventore doloremque vero odio itaque sed adipisci, vel
          facilis explicabo ut, voluptatibus, possimus minima numquam magnam commodi quaerat? Iure sequi sed exercitationem pariatur, dolor natus. Eum rem recusandae vitae non incidunt molestias ullam culpa cumque perspiciatis beatae
          nostrum at eaque, nulla mollitia vel aliquid asperiores necessitatibus animi temporibus a eveniet consectetur. Doloremque distinctio debitis ratione nihil labore cum repellendus velit libero? Omnis voluptate quibusdam fuga,
          accusantium exercitationem velit impedit id tempora ut deserunt eligendi recusandae laudantium optio quaerat corporis veniam vel vitae, nesciunt totam eveniet, iure modi a. Rem nemo nihil repellendus optio, enim fugit dolorem
          consequatur cumque. Quam, magnam cum reiciendis corporis aperiam, culpa ratione doloremque recusandae earum modi soluta rerum. Nemo, molestiae quaerat. Consequuntur minima explicabo architecto temporibus quod consequatur eveniet
          repellat beatae consectetur nulla earum, esse dicta unde aut fuga sint porro.</p>
      </div>
    </div>
  </div>
</body>
